.container
  display: grid
  justify-items: start
  position: relative
  height: 12vh
  z-index: 1
  

.header
  position: absolute
  top: 0
  right: 0
  left: 0
  width: 100vw
  height: 10vh
  padding: 10px
  margin-top: 0
  margin-left: 0
  margin-right: 0
  background-color: rgb(255,255,255)

.title
  z-index: 1000
  margin-left: 4%
  font-size: 2rem
  font-weight: normal
  color: #ff0000
  padding-left: 0.5rem
  padding-right: 1rem
  margin-top: 1rem
  margin-bottom: -4rem

.subtitle
  z-index: 1000
  margin-left: 3%
  font-size: 3rem
  font-weight: bold
  color: #ff0000
  padding-left: 0.5rem
  padding-right: 1rem
  display: inline-block

.dateContainer
  z-index: 1000
  position: absolute
  top: 40%
  right: 0
  transform: translateY(-50%)
  width: 30%
  display: flex
  margin-right: 3%
  flex-direction: column
  align-items: flex-end    
  justify-content: center
  text-align: center 
  color: #ff0000

.dateRange
  font-size: 2rem
  font-weight: bolder
  font-family: 'Roboto', sans-serif
  color: #ff0000

.month
  font-size: 2vw
  font-weight: bold
  color: #ff0000

.year
  font-size: 0.8rem
  font-weight: normal
  color: white

@media (min-width: 3000px) // Pantallas 4K o mayores
  .title
    font-size: 4rem
    margin-top: 1%
  .subtitle
    font-size: 3.5rem
  .dateContainer
    top: 40%
  .dateRange
    font-size: 5rem
  .month
    font-size: 4rem
  .year
    font-size: 2rem

@media (min-width: 2560px) // Pantallas ultra grandes
  .title
    font-size: 3rem
    margin-left: 3%
  .subtitle
    font-size: 3.5rem
    margin-top: -2rem
    margin-left: 3%
  .dateContainer
    top: 40%
  .dateRange
    font-size: 4rem
  .month
    font-size: 5rem
  .year
    font-size: 1.5rem

@media (min-width: 1000px) and (max-width: 1920px) // Portátiles
  .title
    font-size: 1.5rem
    margin-top: 0.5%
    margin-left: 3%
  .subtitle
    font-size: 1.7rem
    margin-right: 1rem
    margin-left: 3%
  .dateContainer
    top: 45%
  .dateRange
    font-size: 1.2rem
  .month
    font-size: 1.6rem
  .year
    font-size: 0.8rem

@media (max-width: 768px) and (orientation: portrait) // Móviles vertical
  .header
    height: 7vh
  .title
    font-size: 0.8rem
    margin-top: 5px
    height: 20px
    padding: 3px
  .subtitle
    font-size: 1rem
    margin-top: -25px
    height: 15px
    padding: 3px
  .dateContainer
    top: 30%
    width: 50%         // Más ancho para móviles
    padding-right: 5vw
  .dateRange
    font-size: 1rem
  .month
    font-size: 0.5rem
  .year
    font-size: 0.6rem