.cardDetailContainer
  position: fixed
  top: 50%
  left: 50%
  transform: translate(-50%, -50%)
  width: 90vw
  height: 70vh
  background-color: rgba(255, 255, 255) // bg-slate-50/90
  border-radius: 1.5rem
  z-index: 10
  overflow: hidden
  display: flex
  flex-direction: column

.flex
  display: flex

.hidden
  display: none

.closeIcon
  position: absolute
  top: 0.5rem
  right: 0.5rem
  height: 2rem
  width: 2rem
  color: black
  cursor: pointer

.prevIcon, .nextIcon
  position: absolute
  top: 50%
  transform: translateY(-50%)
  height: 2rem
  width: 2rem
  cursor: pointer
  color: black

.prevIcon
  left: 1rem

.nextIcon
  right: 1rem

.eventCardDetail
  display: grid
  grid-template-columns: repeat(4, 1fr)
  position: relative
  width: 85vw
  height: 58%
  margin: 2.5rem auto
  border-radius: 1.5rem
  transition: transform 0.3s ease-in-out
  background-color: whitw

.eventImageContainer
  grid-column: 1
  grid-row: 1 / span 6
  display: flex
  justify-content: center
  align-items: center
  overflow: hidden
  padding: 0.5rem 
  margin: 0.5rem 
  border-radius: 1rem 


.eventImage
  max-width: 100% 
  max-height: 100% 
  object-fit: contain 
  object-position: center 
  border-radius: 1rem


.eventDate, .eventTime, .eventTitle, .eventLocation, .eventDetails
  margin-left: 2rem
  font-family: "Open Sans", sans-serif

.eventDate
  font-size: 3rem
.eventTitlePanel
  font-family: "Open Sans", sans-serif
  font-size: 3rem
  font-weight: 700
  margin-bottom: 0.5rem
  text-align: left
  grid-column-start: 3 
  white-space: nowrap
  

.eventTitle
  font-size: 2rem
  font-weight: bold
  margin-top: 1rem
  grid-column-start: 3 

.eventDateWrapper
  display: flex
  gap: 1rem
  grid-column-start: 3
  grid-row: 4
  font-family: "Open Sans", sans-serif
  

.eventDatePanel
  font-weight: bold
  font-size: 5rem
  position: relative
  text-align: left

.eventMonDay
  font-weight: bold
  font-size: 2rem
  margin-top: 1rem
  position: relative
  text-align: left

.dayTitle
  color: #000
  text-align: right
  position: relative
  grid-row: 4
  grid-column: 3

.eventLocationWrapper
  display: flex
  flex-direction: column
  gap: 0.5rem
  position: absolute
  bottom: 2rem
  grid-column-start: 3
  grid-row: 5
  font-family: "Open Sans", sans-serif
  text-align: left

.eventLocationTitle
  font-size: 1.5rem
  font-weight: bold
  color: #000000
  margin: 0
  text-align: left

.eventLocationPanel
  text-align: left
  grid-column-start:3
  grid-row: 5
  font-size: 2rem
  font-weight: 600
  color: #000000

.eventTimePanel
  font-size: 2rem
  color: black
  grid-column-start: 3
  margin-top: 1rem
  text-align: left
  grid-row: 6

.eventTime
  font-size: 2rem
  margin-top: 0
  font-weight: 500



.eventDetailsPanel
  font-size: 1.5rem
  grid-column-start: 2
  position: absolute
  top: 20rem
.eventDetails
  font-size: 1.5rem
  margin-top: 1rem
  grid-column-start: 2
  margin-left: 0




.eventDescriptionTitle
  position: absolute
  transform: translateX(-80%) 
  width: auto
  height: 2.5rem 
  font-size: 2rem
  font-weight: bold
  color: white
  left: 50%
  font-family: "Open Sans", sans-serif
  margin: 0.75rem 
  margin-top: 1rem
  grid-column-start: 3

.eventDescriptionPanel
  position: absolute
  grid-column: 3 / span 2  // Usa columnas 3 y 4 si están libres
  top: 5rem
  font-size: 1rem
  line-height: 1.5
  width: auto              // Se adapta al contenido
  max-width: 80ch          // Mayor límite para expandirse en pantallas grandes
  min-width: 30ch          // Asegura legibilidad mínima
  color: #1f2937
  text-align: left


  
.scrollableEventList
  position: fixed
  bottom: 1rem
  width: 90vw
  display: flex
  flex-direction: row
  gap: 1rem
  overflow-x: scroll
  padding: 1rem

.eventContainer
  flex: 0 0 auto
  display: flex
  justify-content: center
  align-items: center

.eventCard
  width: 170px
  height: 170px
  padding: 1.5rem
  border-radius: 1rem
  cursor: pointer
  transition: transform 0.3s ease-in-out

.eventCard:hover
  transform: translateY(-0.5rem)

.eventType, .eventDate, .eventTime, .eventTitle, .eventLocation
  font-family: "Open Sans", sans-serif
  font-size: 0.8rem
  color: white
  margin: 0.5rem 0



@media (min-width: 1200px) and (max-width: 1800px)
  .eventCard
    width: 120px
    height: 120px
    overflow: hidden
    padding: 10px

  .eventType, .eventDate, .eventTime, .eventTitle, .eventLocation
    font-size: 0.7rem
    margin: 0.3rem 0

  .eventDatePanel
    font-size: 5rem
    font-weight: bold

  .eventTimePanel
    font-size: 1.5rem
    margin-top: 0.5rem

  .eventTitlePanel
    font-size: 2rem
    width: 100%

  .eventDetailsPanel
    font-size: 1rem
    margin-top: 1rem

  .eventLocationPanel
    font-size: 1rem

  .eventDescriptionTitle
    left: 50%
    font-size: 1rem
  .eventDescriptionPanel
    font-size: 0.8rem
    top: 3rem
  .eventMonDay
    margin-top: 1rem
    font-weight: bold
    font-size: 1.5rem
    position: relative
    text-align: left
  .dayTitle
    margin-top: 0

@media (min-width: 2560px)
  .eventCardDetail
    width: 85vw
    height: 70%

  .eventCard
    width: 350px
    height: 350px
    overflow: hidden

  .eventImageContainer
    padding: 1rem
    margin: 1rem

  .eventImage
    width: 80vw
    height: 80vh
    border-radius: 2rem

  .eventType, .eventDate, .eventTime, .eventTitle, .eventLocation
    font-size: 2rem
    margin: 0.3rem 0

  .eventDatePanel
    font-size: 10rem
    font-weight: bold

  .eventMonDay
    margin-top: 1rem
    font-weight: bold
    font-size: 4rem
    position: relative
    text-align: left

  .dayTitle
    font-size: 3rem
    margin-top: 0
  .eventTimePanel
    font-size: 3rem
    margin-top: 2rem

  .eventTitlePanel
    font-size: 3rem
    width: 100%
    margin-top: 2rem

  .eventDetailsPanel
    font-size: 3rem
    margin-top: 2rem

  .eventLocationPanel
    font-size: 3rem

  .eventDescriptionTitle
    font-size: 4rem
    left: 50%

  .eventDescriptionPanel
    font-size: 3rem
    margin-top: 2rem

  .prevIcon, .nextIcon, .closeIcon
    height: 3rem
    width: 3rem

  .prevIcon, .nextIcon
    top: 40%

@media (max-width: 940px) and (orientation: portrait)
  .eventCardDetail
    width: 100vw
    padding: 1rem

  .eventCard
    width: 100px
    height: 100px
    padding: 10px

  .eventImage
    display: none

  .eventType, .eventDate, .eventTime, .eventTitle, .eventLocation
    font-size: 0.5rem
    margin: 0

  .closeIcon
    width: 1.5rem
    height: 1.5rem
    top: 0.5rem
    right: 0.5rem

  .eventDatePanel, .eventTimePanel, .eventDetailsPanel, .eventLocationPanel
    font-size: 1rem
    margin-left: 0.5rem

  .eventTitlePanel
    grid-column: 1 
    grid-row: 1
    font-size: 0.8rem
    width: 100%
    text-align: left
  .eventDescriptionPanel
    top: 1rem
    grid-row: 1
    position: relative
    width: 100%
    font-size: 0.5rem
    text-align: left
    grid-column: 1 / span 3
  .eventDateWrapper
    grid-column: 1
    grid-row: 3
    text-align: left
  
  .eventDatePanel
    font-size: 4rem
    margin-top: 0.5rem

  .eventTimePanel
    grid-column: 1
    grid-row: 5
    margin-top: 0
    font-size: 1rem
    white-space: nowrap
  .eventMonDay
    grid-row: 5
    grid-column: 1
    margin-left: 0
    margin-top: 1rem
    font-weight: bold
    font-size: 1.5rem
    position: relative
    text-align: left
  .dayTitle
    margin-top: 0
    font-size: 1.5rem

  .eventLocationPanel
    grid-column: 1
    grid-row: 4
    font-size: 0.8rem
  
  .prevIcon, .nextIcon, .closeIcon
    height: 1rem
    width: 1rem
  .prevIcon
    left: 0.2rem
  .nextIcon 
    right: 0.2rem